<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MySite</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/MySite.css">
    <link rel="stylesheet" href="../../css/index.css">

</head>
<body>
    <div id="wrap">
        <!---------------- heaher ---------------->
        <header class="clearfix">
            <h1>MySite</h1>
            
            <ul class="clearfix">
                <li>로그인</li>
                <li>회원가입</li>
            </ul>

        </header>
        <!---------------- nav ---------------->
        <nav>
            <ul class="clearfix">
                <li>입사지원서</li>
                <li>게시판</li>
                <li>갤러리</li>
                <li>방명록</li>
            </ul>
        </nav>
        <div id="content2" class="clearfix">
            <aside>
                <h2>게시판</h2>
  
                <ul>
                    <li>일반게시판</li>
                    <li>댓글게시판</li>
                </ul>

            </aside>
            <main>
                <div class="path-box clearfix">
                    <h3>일반게시판</h3>
                    <ol class="clearfix">
                        <li>홈</li>
                        <li>게시판</li>
                        <li>일반게시판</li>
                    </ol>
                </div>   
                <table border="1">
                    <colgroup>
                        <col style="width: 50px">
                        <col style="width: 200px">
                        <col style="width: 50px">
                        <col style="width: 50px">
                        <col style="width: 50px">
                        <col style="width: 50px">
                    </colgroup>
                    <thead>
                        <tr>
                            <td>번호</td>
                            <td>제목</td>
                            <td>글쓴이</td>
                            <td>조회수</td>
                            <td>작성일</td>
                            <td>관리</td>
                        </tr> 
                    </thead>       
                </table>    
                </div>
            </main>
        </div>
        <!---------------- footer ---------------->        
                <footer>
                    <p>
                    Copyright ⓒ2025 장순심. All right reserved
                    </p>
                </footer>
        <!---------------- footer ----------------> 
    </div>
</body>
      
